* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
    background-color: rgb(248, 238, 224);
}

form label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

footer {
    margin: 3em;
}

figure {
    margin: 2em;
}

h1 {
    font-size: 3.25em;
}

h1, h2, h3, h4 {
    color: rgb(71, 58, 53);
    text-align: center;
    font-family: "Pacifico", cursive;
    font-weight: 300;
    filter: drop-shadow(2px 3px 1px #764b4b30);
}

p {
    text-align: justify;
    text-align-last: center;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
}

body {
    color: rgb(104, 89, 82);
    width: 65%;
    margin: auto;
    margin-bottom: 2em;
    line-height: 1.6;
}

img {
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.301) 0.1em 0.25em 0.5em;
    width: 100%;
}

figcaption, footer {
    color: rgb(142, 133, 120);
    text-align: center;
}

a {
    color: rgb(94, 172, 194);
}

#project-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2em;
}

.project {
    text-align: center;
    break-inside: avoid;
}

.project > img {
    aspect-ratio: 5 / 3.1;
    object-fit: cover;
}

@media(max-width: 1000px) {
    #project-container {
        grid-template-columns: 1fr;
    }

    body {
        width: 75%; /* less empty space on smaller screens */
    }
}

@media(max-width: 600px) {
    body {
        width: 85%;
    }
}

@media print {
    nav {
        display: none;
    }

    html {
        background-color: white;
    }

    body {
        color: black;
    }

    a[href]::after {
        content: " (" attr(href) ")";
    }

    li {
        break-inside: avoid;
    }
}


code {
    color: #000000;
    border-radius: 8px;    
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5;      
}